body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: ;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    
    border: 1px solid #1b1b1b;
    background-color: black;
    color: #808080;
    width: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#operation {
    background-color: #1b1b1b;
    color: #ffa31a;
    display: flex;
    justify-content: right;
    font-size: 50px;
    padding: 8px 16px;
    
    max-width: 500px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}
.calculator {
    
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1b1b1b;
    border-radius: 8px;
}
.calculator button:active {
    background-color: #ffa31a;
    color: black;
}
#button {
    background-color: #ffa31a;
    border-radius: 8px;
    padding: 6px 8px;
    width: 95px;
    
}

button:hover {
    background-color: #808080;
    color: black;
}
.inputs {
    display: flex;
    
}
.keys {
    display: flex;
    flex-direction: column;
}
  .functions {
    display: flex;
    color: black;
  }
  .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
  }
  #equals {
    background-color: #ffa31a;
    color: black;
    height: 130px;
  }
  #equals:active {
    background-color: black;
  }
  #equals:hover {
     background-color: #808080;
    color: #ffa31a;
  }

  .others {
    display: flex;
  }
  .footer {
    color: #808080;
    display: flex;
    justify-content: center;
  }
  .footer a {
    color: #ffa31a;
  }
  #logo {
    width: 400px;
  }